<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <title>Contact - ZO-FOOD</title>
</head>

<body>

    <header>
        <h1>ZO-FOOD</h1>

        <nav>
            <a href="{{ url_for('acceuil') }}">Accueil</a>
            <a href="{{ url_for('apropos') }}">À propos</a>
            <a href="{{ url_for('menu') }}">Menu</a>
            <a href="{{ url_for('galerie') }}">Galerie</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </nav>
    </header>

    <main>

        <section class="page-contact">

            <h2>Contactez-nous</h2>

            <p>
                Une question ou une commande ?
                Nous sommes à votre disposition.
            </p>

            <h3>Nos coordonnées</h3>

            <p>
                 Téléphone :
                <a href="tel:+22891212513">
                    +228 91 21 25 13
                </a>
            </p>

            <p>
                 WhatsApp :
                <a href="https://wa.me/22891212513">
                    +228 91 21 25 13
                </a>
            </p>

            <p>
                 Lomé, Togo
            </p>

        </section>

    </main>

    <footer>
        <p>© 2026 ZO-FOOD</p>

        <p>
            Téléphone :
            <a href="tel:+22891212513">
                +228 91 21 25 13
            </a>
        </p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>